<ion-header-bar>
<h1 class="title">user</h1>
</ion-header-bar>
<ion-content padding="true">
    
    <div><center>
<a href="#register" class="calm" on-tap="signup()" > Register Student </a>
          
    <button class="button button-block button-positive padding-horizontal" ng-click="delete(data.username)">
       
    DELETE
          
    </button>
                 <button class="button button-block button-positive padding-horizontal" ng-click="generateqrcode()">
       
    generateqrcode
          
    </button>
        </center>
    </div>
</ion-content>